
/* page layout */
/** {
  border: solid white 1px;
}*/

body {
  background-color: lightgray;
}

#main-container {
  box-sizing: border-box;
  width: 1000px;
  height: 600px;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #333333;
  border-radius: 20px;
  border: solid darkgray 5px;
}

/* visualization */
#main-frame {
  display: inline-block;
  box-sizing: border-box;
  border: solid grayblack;
  border-radius: 10px;
  background-color: black;
  height: 70%;
  width: 70%;
  margin-top: 5%;
  margin-left: 5%;
}

#instrument-container {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  width: 20%;
  height: 50%;
  margin-bottom: 10%;
  top: 100px;
}

#synthia-container {
  box-sizing: border-box;
  width: 70%;
  height: 20%;
  margin-left: 8%;
  margin-top: 1%;
}

#synthia-container > .name {
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  height: 30%;
  border-radius: 5px;
  background-color: lightgray;
  font-size: 18px;
  text-align: center;
}

.synthia-state {
  box-sizing: border-box;
  display: inline-block;
  margin-top: 1%;
  margin-left: 2%;
  width: 16%;
}

#on {
  display: inline-block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: lightgray;
  width: 45%;
  height: 15%;
  text-align: center;
}

#off {
  display: inline-block;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: lightgray;
  width: 45%;
  height: 15%;
  text-align: center;
}

#synthia-instruments {
  display: inline-block;
  width: 68%;
  margin-left: 5%;
  top: 10px;
}

#synthia-instruments > button.instruments {
  width: 20%;
  height: 5%;
  margin: 10px;
  border-radius: 5px;
  background-color: lightgray;
  text-align: center;
  font-size: 16px;
}

button.instruments {
  width: 160px;
  height: 60px;
  margin: 10px;
  border-radius: 5px;
  background-color: lightgray;
  text-align: center;
  font-size: 16px;
}

button.instruments:active {
  border-color: black;
}

button.instruments:focus {
  background-color: gray;
  transition: background-color 200ms linear, text-shadow 500ms linear;
}

button.instruments:hover {
  border-color: #e6e6e6;
  transition: border-color 200ms linear, text-shadow 500ms linear;
}


